@font-face {
  font-family: "Lack";
  src: url("Fonts/Lack-Regular.woff"),
}

body {
  font-family: "Lack";
  overflow-x: hidden;
}

.title {
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  margin: 20px auto;
  position: fixed;
  font-size: 40px;
  white-space: nowrap;
}

@media(min-width: 576px) {
  .title {
    top: 0px;
    left: 0%;
    margin: 20px 0px 0px 50px;
    transform: translate(0%);
    position: fixed;
    font-size: 60px;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
}

.react-grid-item:hover {
  z-index: 999 !important;
  transition-duration: 0s !important;
}

.react-grid-layout {
  /* overflow-x: hidden; */
}

.wrapper {
  margin: 150px auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 200px;
  align-items: center;
}

@media(min-width: 576px) {
  .wrapper {
    margin: 250px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 200px;
    align-items: center;
  }
}

/* Group images right column */

.react-grid-layout:nth-child(even) .stack.landscape {
  transform: translate(20%,0%) !important;
}

.react-grid-layout:nth-child(even) .stack.portrait {
  transform: translate(50%,-10%) !important;
}

/* Group images left column */

.react-grid-layout:nth-child(odd) .stack.landscape {
  transform: translate(50%,0%) !important;
}

.react-grid-layout:nth-child(odd) .stack.portrait {
  transform: translate(100%,-10%) !important;
}

/* General stack parameters */

.react-grid-layout .stack.portrait {
  height: 280px !important;
  width: 200px !important;
}

.react-grid-layout .stack.landscape {
  height: 200px !important;
  width: 300px !important;
}

#hide {
  visibility: hidden;
}

#show {
  visibility: visible;
}


.notexpanded {
  height: 200px !important;
}


/* Rotate right stacks */

.react-grid-layout:nth-child(even) {
  transform: rotateZ(180deg) !important;
}


/* Left Column Individual image rotate */

  .react-grid-layout:nth-child(odd) div:nth-child(1) img {
    transform: rotateZ(-10deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(2) img {
    transform: rotateZ(-5deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(3) img {
    transform: rotateZ(6deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(4) img {
    transform: rotateZ(-3deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(5) img {
    transform: rotateZ(5deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(6) img {
    transform: rotateZ(-6deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(7) img {
    transform: rotateZ(3deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(8) img {
    transform: rotateZ(3deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(9) img {
    transform: rotateZ(3deg) !important;
  }

  .react-grid-layout:nth-child(odd) div:nth-child(10) img {
    transform: rotateZ(3deg) !important;
  }

/* Right Column Individual image rotate */

.react-grid-layout:nth-child(even) div:nth-child(1) img {
  transform: rotateZ(170deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(2) img {
  transform: rotateZ(185deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(3) img {
  transform: rotateZ(186deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(4) img {
  transform: rotateZ(183deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(5) img {
  transform: rotateZ(175deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(6) img {
  transform: rotateZ(189deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(7) img {
  transform: rotateZ(172deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(8) img {
  transform: rotateZ(186deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(9) img {
  transform: rotateZ(183deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(10) img {
  transform: rotateZ(175deg) !important;
}

.react-grid-layout:nth-child(even) div:nth-child(11) img {
  transform: rotateZ(188deg) !important;
}
